@using SimpleSocialAuth.MVC3

@{
    ViewBag.Title = "LogIn";
}

<h2>LogIn</h2>

@Html.RenderAuthStylesheet()
@Html.RenderAuthScript()
@Html.RenderAuthWarnings()

@if (TempData["authError"] != null)
{
  <p class="error-messasge">
    @TempData["authError"]
  </p>
}

@using (Html.BeginForm("Authenticate", "SimpleAuth", FormMethod.Post, new { id = "authForm" }))
{
  @Html.AuthButtons()
}